.bg {
    &-ADACF1{
        background: #ADACF1;
    }
    &-9AEDF9{
        background: #9AEDF9;
    }
    &-EE7D7D{
        background: #EE7D7D;
    }
    &-AEED7C{
        background: #AEED7C;
    }
    &-DCE991{
        background: #DCE991;
    }
    &-F6C291{
        background: #F6C291;
    }
    &-FDA3FF{
        background: #FDA3FF;
    }
    &-C699FF{
        background: #C699FF;
    }
    &-FF1F1F{
        background: #FF1F1F;
    }
    &-5A92FF{
        background: #5A92FF;
    }
    &-80B130{
        background: #80B130;
    }
    &-9747FF{
        background: #9747FF;
    }
    &-EFACAC{
        background: #EFACAC;
    }
    &-1FF10D{
        background: #1FF10D;
    }
    &-0CB3BE{
        background: #0CB3BE;
    }
    &-6F1B1B{
        background: #6F1B1B;
    }
    &-D34FC6{
        background: #D34FC6;
    }
    &-D4BE47{
        background: #D4BE47;
    }
    &-465BC5{
        background: #465BC5;
    }
    &-8C366A{
        background: #8C366A;
    }
    &-5F9545{
        background: #5F9545;
    }
    &-40E7BF{
        background: #40E7BF;
    }
    &-7524B5{
        background: #7524B5;
    }
    &-657E9B{
        background: #657E9B;
    }
    &-000000{
        background: #000000;
    }
    &-5263FF{
        background: #5263FF;
    }
}

.tx {
    &-ADACF1{
        color: #ADACF1;
    }
    &-9AEDF9{
        color: #9AEDF9;
    }
    &-EE7D7D{
        color: #EE7D7D;
    }
    &-AEED7C{
        color: #AEED7C;
    }
    &-DCE991{
        color: #DCE991;
    }
    &-F6C291{
        color: #F6C291;
    }
    &-FDA3FF{
        color: #FDA3FF;
    }
    &-C699FF{
        color: #C699FF;
    }
    &-FF1F1F{
        color: #FF1F1F;
    }
    &-5A92FF{
        color: #5A92FF;
    }
    &-80B130{
        color: #80B130;
    }
    &-9747FF{
        color: #9747FF;
    }
    &-EFACAC{
        color: #EFACAC;
    }
    &-1FF10D{
        color: #1FF10D;
    }
    &-0CB3BE{
        color: #0CB3BE;
    }
    &-6F1B1B{
        color: #6F1B1B;
    }
    &-D34FC6{
        color: #D34FC6;
    }
    &-D4BE47{
        color: #D4BE47;
    }
    &-465BC5{
        color: #465BC5;
    }
    &-8C366A{
        color: #8C366A;
    }
    &-5F9545{
        color: #5F9545;
    }
    &-40E7BF{
        color: #40E7BF;
    }
    &-7524B5{
        color: #7524B5;
    }
    &-657E9B{
        color: #657E9B;
    }
    &-000000{
        color: #000000;
    }
    &-5263FF{
        color: #5263FF;
    }
}