.popups-overlay{
    background: #fff;
    position: fixed;
    z-index: 1;
    left: 0; right: 0;
    top: 0; bottom: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    &__logo{
        position: absolute;
        top: 20px;
        left: 30px;
        text-decoration: none;
        img{
            width: 150px;
            height: auto;
        }
    }
    @media only screen and (max-width: 768px) {
        &__logo{
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
        }
    }
}

.popup{
    display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden; 

    &__container{
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		max-width: 640px;
		z-index: 2;			
        background: #FFFFFF;
        box-shadow: 0px 14px 47px rgba(108, 108, 108, 0.18);
		border-radius: 15px;
		transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &.popup__sign-up{
            max-width: 496px;
        }
	}
	&__body{
		width: 100%;
		padding: 30px;
		position: relative;
		z-index: 1;
	}
    &__close{
        position: absolute;
        right: 30px; top: 30px;
        width: 20px;
        height: 20px;
        background: #FEE1E1;
        border: 1px solid rgba(255, 72, 72, 0.3);
        border-radius: 5px;
        transition: all .2s ease-in-out;
        padding: 0;
        svg{
            stroke: #FF4848;
            stroke-opacity: .5;
            width: 8px;
            height: 8px;
        }
        &:hover{
            background: rgba(255, 72, 72, 0.3);
        }
    }

    &__title{
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: rgba(0, 0, 0, 0.85);
        text-align: center;
    }

    &__head{
        margin-bottom: 30px;
    }

    &__form{
        &-g{
            & + .popup__form-g{
                margin-top: 10px;
            }
        }
        &-l{
            font-size: 14px;
            line-height: 17px;
            color: #8E8E8E;
        }
        &-btns{
            margin-top: 20px;           
            &--x2{
                display: flex;
                justify-content: space-between;
                .btn{
                    flex: 0 0 calc(50% - 5px);
                    max-width: calc(50% - 5px);
                }
            }
            .btn{
                width: 100%;
                &--black{
                    height: 46px;
                }
                &--gray{
                    margin-top: 17px;
                }
                & + .btn{
                    margin-top: 18px;
                }
            }
        }
        &-p{
            margin-top: 15px;
        }
        &-c{
            font-size: 16px;
            color: rgba(0, 0, 0, 0.85);
        }
        &-checkbox{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            .checkbox{
                margin-top: 16px;
                &__label{
                    color: rgba(0, 0, 0, 0.85);
                }
            }
        }
    }

    &__support{
        max-width: 1169px;
        &__title{
            font-size: 20px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 10px;
        }
        .fl-name{
            position: relative;
            background: rgba(154, 237, 249, 0.3);
            border-radius: 12px;
            display: inline-flex;
            align-items: center;
            height: 46px;
            padding-left: 10px;
            font-size: 16px;
            color: #18A5E1;
            margin-left: 10px;
            svg{
                width: 14px;
                height: 14px;
                stroke: #18A5E1;
            }
            .ps-img{
                position: absolute;
                bottom: 50px;	
                left: 50%;
                margin-left: -100px;
                background: #FEFEFE;
                box-shadow: 0px 15px 30px rgba(18, 17, 38, 0.08);
                border-radius: 15px;
                padding: 10px;
                display: none;
                img{
                    width: 200px;
                    height: auto;
                    border-radius: 10px;
                }
            }
            &:hover{
                .ps-img{
                    display: block;
                }
            }
        }
        .fl-close{
            padding: 10px;
            cursor: pointer;
        }
        &__inps{
            margin-top: 10px;
            display: flex;
            align-items: end;
            label{
                font-size: 14px;
                color: #8E8E8E;
                margin-bottom: 7px;
            }
            .btn--wh{
                margin-left: 10px;
            }
            .i{
                flex: 0 0 436px;
                max-width: 436px;
            }
        }
        &__textarea{
            margin-top: 15px;
            .textarea{
                height: 193px;
            }
        }
        &__foot{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: #8E8E8E;
            margin-top: 20px;
            a{
                text-decoration: none;
                color: #18A5E1;
                &:hover{
                    text-decoration: underline;
                }
            }
            .btn{
                flex: 0 0 45%;
                max-width: 45%;
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        &__support{
            border-radius: 0;
            max-width: 100%;
        }
    }
    
    @media only screen and (max-width: 768px) {
        &__container{
            box-shadow: none;
            max-width: 100%;
            border-radius: 0;
        }
        &__body{
            padding-left: 20px;
            padding-right: 20px;
        }
        &__close{
            top: -20px;
            right: 20px;
        }
        &__support{
            &__inps{
                flex-flow: row wrap;
                .i{
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 10px;
                }
                .btn--wh{
                    margin-left: 0;
                }
            }
            &__foot{
                flex-direction: column;
                margin-top: 15px;
                .btn{
                    flex: 0 0 35px;
                    max-width: 100%;
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }

    @media only screen and (max-width: 460px) {
        &__form{
            &-btns{
                &--x2{
                    flex-direction: column;
                    .btn{
                        flex: 0 0 100%;
                        max-width: 100%;
                        border-radius: 0;
                        background: transparent;
                    }
                }
            }
        }
    }
}

.ps-props{
    display: flex;
    align-items: flex-start;
    &__btn{
        position: relative;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        border-radius: 8px;
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0);
        svg{
            fill: none;
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
        &._question{
            color: #18A5E1;
            background: rgba(154, 237, 249, 0.3);
        }
        &._bag{
            color: #FF4848;
            background: rgba(249, 154, 154, 0.3);
        }
        &._dollar{
            color: #70E118;
            background: rgba(201, 249, 154, 0.3);
        }
    }

    &__item{
        margin-bottom: 0;
    }

    &__checkbox{
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }

    &__checkbox:checked{
        & + ._question{
            border: 1px solid #18A5E1;
        }
        & + ._bag{
            border: 1px solid #F99A9A;
        }
        & + ._dollar{
            border: 1px solid #C9F99A;
        }
    }

    @media only screen and (max-width: 460px) {
        &__btn{
            margin-right: 5px;
            padding: 5px 8px;
        }
    }
}