<!-- Add admin -->
<div class="popup" id="popup__admin-add">
    <div class="popup__container popup__claim">

        <div class="popup__body">
            <button type="button" class="btn popup__close" onclick="popup.close('#popup__admin-add');">
                <svg>
                    <use xlink:href="#ic-close"></use>
                </svg>
            </button>

            <div class="popup__support__title">Добавление администратора</div>

            <div class="popup__form">
                <div class="popup__form-g">
                    <label class="popup__form-l">Email</label>
                    <input type="email" class="inp">
                </div>
                <div class="popup__form-g">
                    <label class="popup__form-l">Роль</label>
                    <div class="custom-select">
                        <select>
                            <option value="01">Администратор</option>
                            <option value="02">Помощник</option>
                            <option value="03">Саппорт</option>
                        </select>
                    </div>
                </div>

                <div class="popup__form-btns">
                    <button class="btn btn--black">Добавить</button>
                </div>
            </div>    
        </div>

    </div>
</div>
