<!-- Mark add -->
<div class="popup" id="popup__mark-add">
    <div class="popup__container popup__mark">

        <div class="popup__body">
            <button type="button" class="btn popup__close" onclick="popup.close('#popup__mark-add');">
                <svg>
                    <use xlink:href="#ic-close"></use>
                </svg>
            </button>

            <div class="popup__support__title">Создание метки</div>

            <div class="popup__form">
                <div class="popup__form-g">
                    <label class="popup__form-l">Название</label>
                    <input type="text" class="inp">
                </div>

                <div class="popup__form-g">
                    <label class="popup__form-l">Цвет</label>
                    <form>
                    <div class="color-box">
                        <label class="color-box__label">
                            <input type="radio" name="color_box" checked class="color-box__inp">
                            <span class="color-box__frame bg-ADACF1"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-9AEDF9"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-EE7D7D"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-AEED7C"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-DCE991"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-F6C291"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-FDA3FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-C699FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-FF1F1F"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-5A92FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-80B130"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-9747FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-EFACAC"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-1FF10D"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-0CB3BE"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-6F1B1B"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-D34FC6"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-D4BE47"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-465BC5"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-8C366A"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-5F9545"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-40E7BF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-7524B5"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-657E9B"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-000000"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-5263FF"></span>
                        </label>
                    </div>
                    </form>
                </div>

                <div class="popup__form-btns">
                    <button class="btn btn--black">Подключить</button>
                </div>
            </div>    
        </div>

    </div>
</div>

<!-- Mark Edit -->
<div class="popup" id="popup__mark-edit">
    <div class="popup__container popup__mark">

        <div class="popup__body">
            <button type="button" class="btn popup__close" onclick="popup.close('#popup__mark-edit');">
                <svg>
                    <use xlink:href="#ic-close"></use>
                </svg>
            </button>

            <div class="popup__support__title">Редактирование метки</div>

            <div class="popup__form">
                <div class="popup__form-g">
                    <label class="popup__form-l">Название</label>
                    <input type="text" class="inp" value="мегаважное">
                </div>

                <div class="popup__form-g">
                    <label class="popup__form-l">Цвет</label>
                    
                    <form>
                    <div class="color-box">
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp" checked>
                            <span class="color-box__frame bg-ADACF1"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" checked class="color-box__inp">
                            <span class="color-box__frame bg-9AEDF9"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-EE7D7D"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-AEED7C"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-DCE991"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-F6C291"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-FDA3FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-C699FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-FF1F1F"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-5A92FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-80B130"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-9747FF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-EFACAC"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-1FF10D"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-0CB3BE"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-6F1B1B"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-D34FC6"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-D4BE47"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-465BC5"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-8C366A"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-5F9545"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-40E7BF"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-7524B5"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-657E9B"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-000000"></span>
                        </label>
                        <label class="color-box__label">
                            <input type="radio" name="color_box" class="color-box__inp">
                            <span class="color-box__frame bg-5263FF"></span>
                        </label>
                    </div>
                    </form>
                </div>

                <div class="popup__form-lbt">
                    Ставить метку, если
                </div>

                <div class="popup__form-g">
                    <label class="popup__form-l">От кого</label>
                    <input type="text" class="inp">
                </div>

                <div class="popup__form-g">
                    <label class="popup__form-l">Содержит</label>
                    <input type="text" class="inp">
                </div>

                <div class="popup__form-btns">
                    <button class="btn btn--black">Подключить</button>
                </div>
            </div>    
        </div>

    </div>
</div>

<!-- Folder add -->
<div class="popup" id="popup__folder-add">
    <div class="popup__container popup__mark">

        <div class="popup__body">
            <button type="button" class="btn popup__close" onclick="popup.close('#popup__folder-add');">
                <svg>
                    <use xlink:href="#ic-close"></use>
                </svg>
            </button>

            <div class="popup__support__title">Создание папки</div>

            <div class="popup__form">
                <div class="popup__form-g">
                    <label class="popup__form-l">Название</label>
                    <input type="text" class="inp" value="мегаважное">
                </div>
                
                <div class="popup__form-btns">
                    <button class="btn btn--black">Подключить</button>
                </div>
            </div>    
        </div>

    </div>
</div>

<!-- Folder edit -->
<div class="popup" id="popup__folder-edit">
    <div class="popup__container popup__mark">

        <div class="popup__body">
            <button type="button" class="btn popup__close" onclick="popup.close('#popup__folder-edit');">
                <svg>
                    <use xlink:href="#ic-close"></use>
                </svg>
            </button>

            <div class="popup__support__title">Редактирование папки</div>

            <div class="popup__form">
                <div class="popup__form-g">
                    <label class="popup__form-l">Название</label>
                    <input type="text" class="inp" value="мегаважное">
                </div>

                <div class="popup__form-lbt">
                    Перемещать в папку, если
                </div>

                <div class="popup__form-g">
                    <label class="popup__form-l">От кого</label>
                    <input type="text" class="inp">
                </div>

                <div class="popup__form-g">
                    <label class="popup__form-l">Содержит</label>
                    <input type="text" class="inp">
                </div>
                
                <div class="popup__form-btns">
                    <button class="btn btn--black">Подключить</button>
                </div>
            </div>    
        </div>

    </div>
</div>