<section class="side-menu">
    <div class="side-menu__head">
        <a href="#" class="logo">
            <img src="assets/img/logo.svg" alt="logo">
        </a>
        <a href="#" class="btn btn--black bwrite">Написать</a>
    </div>

    <div class="side-menu__body">
        <nav class="menu">
            <div class="menu__caption">основное</div>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link menu__link--active">
                        <span class="menu__title">Входящие</span>
                        <span class="menu__number">+33</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Отправленные</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Важные</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Черновики</span>
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="menu menu-drop menu-drop--open">
            <div class="menu__caption">Мои папки</div>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">название папки</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">мегаважное</span>
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="menu menu-drop menu-drop--open">
            <div class="menu__caption">Мои метки</div>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__mark color-ADACF1"></span>
                        <span class="menu__title">мегаважное</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__mark color-5A92FF"></span>
                        <span class="menu__title">Работа</span>
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="menu menu-drop menu-drop--open">
            <div class="menu__caption">еще</div>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Спам</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Корзина</span>
                    </a>
                </li>
            </ul>

            <div class="menu__hr"></div>

            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Настройки</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Админ панель</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">Вопросы</span>
                        <span class="menu__number">+2</span>
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="menu menu-drop menu-drop--open">
            <div class="menu__caption">адреса</div>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title menu__title--sm">saveitll@example.com</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title menu__title--sm">qwertujnfmnx@example.com</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="side-menu__foot">
        <div class="used-ps">
            <div class="used-ps__info">
                <span>Использовано</span>
                <span>7.7Gb/15Gb</span>
            </div>
            <div class="used-ps__line">
                <span style="width: 50%;"></span>
            </div>
        </div>
        <button class="btn btn--gray bsupp" onclick="popup.open('#popup__support');">Написать в поддержку</button>
    </div>
</section>